*.amb
*.sa
*.anb
*.ann
*.bwt
*.fai
*.pac
*.fa
*.vcf
*.bam
*.c
*.bai
*.cns
*.fq
*.so
*.pyc
build
.ipynb_checkpoints
*summary*
*fasta/*
*results
*.bam
*Results/
*simulations/*
*X2b5*
*X2b6*
*N.txt
*M.txt