*.amb
*.sa
*.anb
*.ann
*.bwt
*.fai
*.pac
*.fa
*.vcf
*.bam
*.c
*.bai
*.cns
*.fq
*.so
*.pyc
build
.ipynb_checkpoints
*summary*
*fasta/*
*results
*.bam
*Results/
*simulations/*
*X2b5*
*X2b6*
*N.txt
*M.txt
/Comparison
contaminants.fa
contamix/.DS_Store
Analysis/.DS_Store
*.pdf
*.npy
*.crai
*.cram
real_bam/consensus_distance_matrix.txt
Other/contamix/.DS_Store
new_bams/TSI/consensuses/.DS_Store
new_bams/pairs_21_30.txt
new_bams/pairs_0_20.csv
new_bams/pairs_0_20.txt
new_bams/pairs_21_30.samples.txt
new_bams/pairs_31_50.samples.txt
new_bams/pairs_31_50.txt
new_bams/TSI/download_list.txt
new_bams/pairs_0_20.samples.txt
new_bams/IBS/download_list.txt
new_bams/IBS/.DS_Store
new_bams/.DS_Store
.DS_Store
